{% extends 'base.html.twig' %}

{% block title %}New Exercice{% endblock %}

{% block body %}
    <h1 align="center">Ajouter Nouveau Exercice</h1>
    <style>
        body{
            background-image: url("https://c8.alamy.com/compfr/wpde9x/jeune-homme-avec-une-barbe-d-un-physique-sportif-fait-un-exercice-sur-les-muscles-de-la-cavite-abdominale-sur-un-fond-isole-blanc-l-athlete-va-dans-pour-le-sport-wpde9x.jpg");
            background-repeat: no-repeat;
         }

    </style>

    {{ include('exercice/_form.html.twig') }}

    <a href="{{ path('exercice_index') }}">back to list</a>
{% endblock %}
