{% extends 'base.html.twig' %}


{% block title %}New Regime{% endblock %}

{% block body %}
    <style>
        body{
            background-image: url("https://i.f1g.fr/media/madame/1900x1900_crop/sites/default/files/img/2021/04/ce-quil-se-passe-dans-le-corps-lors-dune-prise-de-poids.jpg");
            background-repeat: no-repeat;
            background-size: cover;


        }

    </style>


    <h1  style="color: #dc3545">Create new Regime</h1>

    {{ include('regime/_form.html.twig') }}

    <a href="{{ path('regime_index') }}">back to list</a>
{% endblock %}
