{% extends 'base.html.twig' %}


{% block title %}New Regime{% endblock %}

{% block body %}
    <style>
        body {
             background-image: url("https://www.cetofine.com/img/cms/avantage-inconvenient-regime-hyper-proteine.png");
           background-repeat: no-repeat;
            background-size: cover;
        }
    </style>


    <h1  style="color: #dc3545">Create new Regime</h1>

    {{ include('regime/_form.html.twig') }}

    <a href="{{ path('regime_index') }}">back to list</a>
{% endblock %}
